body {
    background: beige;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#pintura {
    width: 800px;
    height: 480px;
    background: white;
    border: 2px solid black;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}

.dot {
    border-radius: 50%;
    position: absolute;
}

header{
    background-color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 5px;
}
